@using OpenEducator.Code
@{ 
    ViewBag.Title = "Dashboard";
    ViewBag.ContainerStyle = "padding: 20px;";
}

<div class="row" style="margin-top: 0.5em;">
    <div class="medium-8 medium-offset-2 double-padded s-padded" style="background-color: white;">
        <p>Hello! Currently I am creating the front-end of the Course Maker. 
         You can view a few example courses I have created by clicking the Courses tab above. These courses can be viewed on mobile or desktop.
         These courses are display solely using the contents of a json file. You can view the raw JSON file down below.</p> <br/>
        <a href="@Url.Content("Courses/10001.json")">College Applications</a> <br/>
        <a href="@Url.Content("Courses/13370.json")">Web Development</a>
    </div>
</div>