@using OpenEducator;
@using OpenEducator.ContentTypes;
@using Newtonsoft.Json;

@{
    ViewBag.Title = "Test";

    Course cs = new Course() {
        Name = "Introduction To Web Development",
        Author = "Aryan Mann",
        Description = "Learn the basics of front-end web development through HTML, CSS, JavaScript, and React",
        SnapshotUrl = "http://www.placehold.it/400x300",
        Instructors = new List<Instructor>() { new Instructor() { Name = "Aryan Mann", ID = 1337 } },
        ID = 123123,
        YoutubeVideoID = "3JluqTojuME",
        Contents = new List<Content>() {
            new TextContent("Welcome!", TextContent.TextType.H1),
            new ImageContent("http://paperlinksoftwares.com/wp-content/themes/enigma/images/Untitled-2.jpg"){
                Style = "width: 100%; height: auto;"
            },
            new TextContent("Web development can be abstracted to front-end and back-end. Back-end refers to how things function, how data is managed, etc. Whereas, front-end usually means how the data looks. In this course, we are going to understanding how to display data and create user interfaces that can take data and visualize it in a meaningful way.")
        },
        Chapters = new List<Chapter>() {
            new Chapter() {
                Name = "Introduction to HTML and CSS",
                Description = "All webpages are built on top of HTML and styled through CSS. We are going to take a look at what HTML is and how user interfaces are designed.",
                Contents = new List<Content>(){
                    new TextContent("Right click on this page and select 'Inspect Element'. Do you see all the <something> blah blah </something> tags? These are called HTML tags. We use these tags to create content that the user can see. There are few essential parts to every modern webpage:- "),
                }
            }
        }
    };
    cs.Save();
}


<div class="row margin-top">
    <div class="medium-8 medium-offset-2" style="background-color: white;">
        
    </div>
</div>


<div class="row margin-top">
    <div class="medium-8 medium-offset-2" style="background-color: white;">
        
        <div class="xContent">
            @foreach(Content c in cs.Contents) {
                if(c.GetType() == typeof(ImageContent)) {
                    <div class="xContentItem nopad">
                        @Html.Raw(c.Render())
                    </div>
                } else {
                    <div class="xContentItem s-padded">
                        @Html.Raw(c.Render())
                    </div>
                }
            }
        </div>

        <div class="padded text-center">
            <a class="button primary">Back to Course Overview</a>
        </div>
    </div>
</div>


<script src="@Url.Content("~/Scripts/Components/DataBind.jsx")"></script>
@Html.Raw(Html.ReactInitJavaScript())
