@using OpenEducator;
@using OpenEducator.ContentTypes;
@{
    ViewBag.Title = "Test";
}

<style>
    body {
        background-color: #424242 !important;
    }
</style>

@{

    List<Content> conts = new List<Content>();
    for(int i = 1; i < 11; i++) {
        conts.Add(new TextContent($"Number {i}", TextContent.TextType.A) {
            Open = @"href=""http://www.aryanmann.com/"""
        });
    }

    Course cs = new Course() {
        Name = "Learning Web Development Through Wordpress",
        ID = 13370,
        Author = "University of Aryan",
        Description = "Learn the basics of web development through WordPress by utilizing HTML, CSS, JavaScript, PHP.",
        Instructors = new List<Instructor>() {
            new Instructor(){ Name = "Aryan Mann", ID = 1337 }
        },
        SnapshotUrl = @"https://www.smashingmagazine.com/wp-content/uploads/2013/03/Wordpress-start-image.jpg",
        YoutubeVideoID = "G6xWZoCFmOw",
        Contents = new List<Content>(){
            new TextContent("WordPress is a free and open-source content management system (CMS) based on PHP and MySQL. WordPress is installed on a web server that is either part of an Internet hosting service or a network host in its own right. The first case may be a service like WordPress.com, for example, and the second case could be a computer running the software package WordPress.org."),
            new TextContent("We will be focusing on creating our own self-hosted WordPress service using a software called XAMPP which emulates web servers.")
        },
        Chapters = new List<Chapter>() {
            new Chapter() {
                Name = "The Setup",
                Description = "We setup our development environment by installing XAMPP, VSCode, and WordPress",
                Contents = new List<Content>() {

                },
                Topics = new List<Topic>() {

                }
            }
        }
    };

    cs.Save();
}

<div class="row" style="margin-top: 2em;">
    <div class="medium-8 medium-offset-2 double-padded" style="background-color: white;">
        <fieldset class="fieldset" style="margin: 0;">
            <legend>Course Introduction</legend>            
            @{ 
                YoutubeVideoContent yvc = new YoutubeVideoContent(cs.YoutubeVideoID) {
                    Style = "width: 100%; min-height: 350px; margin-bottom: 1em;"
                };
            }
            
            @Html.Raw(yvc.Render())

            <br/>

            @foreach(Content c in cs.Contents) {
                @Html.Raw(c.Render())
            }
        </fieldset>
    </div>
</div>