<div class="row double-padded s-unpadded">
    <div class="columns medium-10 medium-offset-1 small-12" style="background-color: white;">
        <div class="resources">
            Stuff
            <ul class="resource-list">
                <li><a href="#">Testin</a></li>
            </ul>
        </div>
    </div>    
</div>