@import url('https://fonts.googleapis.com/css?family=Catamaran');

/* Setup */
html {
    font-size: 16px;
    font-family: 'Catamaran', sans-serif;
}

h1 { font-size: 3.2em; }
h2 { font-size: 2.4em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1em; }
h5 { font-size: 0.8em; }
h6 { font-size: 0.6em; }
a { text-decoration: none; color: inherit; transition: color 0.5s ease; }
a:hover { color: rgb(0, 148, 255); }

/* Shared Qualities */
*[debug] {
    background-color: yellow;
    box-shadow: #00ceff 0px 0px 0px 4px inset;
}

/* Specific Shared Qualities */
h1[center] { text-align: center; }

div.container {
    padding: 2em;
}

/* ROW COLUMS */
row {
    display: flex;
    flex-direction: row;
}
row[center] column {
    justify-content: center;
}
row[flip] {
    flex-direction: row-reverse;
}

column {
    display: flex;
}
column[center] {
    justify-content: center;
}

column[width="0"] {
    width: calc(0 * 10%);
}
column[width="1"] {
    width: calc(1 * 10%);
}
column[width="2"] {
    width: calc(2 * 10%);
}
column[width="3"] {
    width: calc(3 * 10%);
}
column[width="4"] {
    width: calc(4 * 10%);
}
column[width="5"] {
    width: calc(5 * 10%);
}
column[width="6"] {
    width: calc(6 * 10%);
}
column[width="7"] {
    width: calc(7 * 10%);
}
column[width="8"] {
    width: calc(8 * 10%);
}
column[width="9"] {
    width: calc(9 * 10%);
}
column[width="10"] {
    width: calc(10 * 10%);
}

/* NAVIGATION BAR */
navigation {
    display: flex;
    width: 100%;
    background-color: #424242;
    color: white;
    align-items: center;
}

navigation brand, navigation a {
    padding: 0.8em;
    color: white;
    text-decoration: none;
}
navigation brand {
    margin-right: 1em;
    font-size: 1.2em;
    cursor: default;
}

navigation a:hover {
    background-color: #7a7a7a;
}
navigation a[selected] {
    background-color: white;
    color: #424242;
}

/* STACK */
stack {
    display: flex;
    flex-direction: column;
}
stack[horizontal] {
    flex-direction: row;
}

stack card {
    margin-top: 1em;
}
stack card:first-child {
    margin-top: 0;
}

/* CARDS */
card {
    display: flex;
    flex-direction: column;
    box-shadow: 0px -1px 3px rgba(0,0,0,0.1), 0px 2px 6px rgba(0,0,0,0.5);
    height: auto;
    width: auto;
}

card information name {
    font-size: 2.4em;
}

card[horizontal] {
    width: 100%;
    flex-direction: row;
}

card[horizontal] information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.6em;
    height: calc(100% - 1.2em);
    overflow: hidden;
}

card[horizontal] information name {
    padding-bottom: 0.2em;
}

card[horizontal] information author {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    padding-top: 1em;
}

/*  Screen Specific 
    320px -> small -> s
    840px -> medium -> m
    1366px -> large -> l
*/
@media only screen and (max-width: 1366px) {
    column[l-width="0"] {
        width: calc(0 * 10%);
    }

    column[l-width="1"] {
        width: calc(1 * 10%);
    }

    column[l-width="2"] {
        width: calc(2 * 10%);
    }

    column[l-width="3"] {
        width: calc(3 * 10%);
    }

    column[l-width="4"] {
        width: calc(4 * 10%);
    }

    column[l-width="5"] {
        width: calc(5 * 10%);
    }

    column[l-width="6"] {
        width: calc(6 * 10%);
    }

    column[l-width="7"] {
        width: calc(7 * 10%);
    }

    column[l-width="8"] {
        width: calc(8 * 10%);
    }

    column[l-width="9"] {
        width: calc(9 * 10%);
    }

    column[l-width="10"] {
        width: calc(10 * 10%);
    }

    *[l-hide] {
        display: none;
    }
    *[l-show] {
        display: flex;
    }

    *[l-stack] {
        flex-direction: column;
    }
}
@media only screen and (max-width : 960px) {
    column[m-width="0"] {
        width: calc(0 * 10%);
    }

    column[m-width="1"] {
        width: calc(1 * 10%);
    }

    column[m-width="2"] {
        width: calc(2 * 10%);
    }

    column[m-width="3"] {
        width: calc(3 * 10%);
    }

    column[m-width="4"] {
        width: calc(4 * 10%);
    }

    column[m-width="5"] {
        width: calc(5 * 10%);
    }

    column[m-width="6"] {
        width: calc(6 * 10%);
    }

    column[m-width="7"] {
        width: calc(7 * 10%);
    }

    column[m-width="8"] {
        width: calc(8 * 10%);
    }

    column[m-width="9"] {
        width: calc(9 * 10%);
    }

    column[m-width="10"] {
        width: calc(10 * 10%);
    }

    *[m-hide] {
        display: none;
    }
    *[m-show] {
        display: flex;
    }

    *[m-stack] {
        flex-direction: column;
    }
        
}
@media only screen and (max-width : 480px) {
    column[s-width="0"] {
        width: calc(0 * 10%);
    }

    column[s-width="1"] {
        width: calc(1 * 10%);
    }

    column[s-width="2"] {
        width: calc(2 * 10%);
    }

    column[s-width="3"] {
        width: calc(3 * 10%);
    }

    column[s-width="4"] {
        width: calc(4 * 10%);
    }

    column[s-width="5"] {
        width: calc(5 * 10%);
    }

    column[s-width="6"] {
        width: calc(6 * 10%);
    }

    column[s-width="7"] {
        width: calc(7 * 10%);
    }

    column[s-width="8"] {
        width: calc(8 * 10%);
    }

    column[s-width="9"] {
        width: calc(9 * 10%);
    }

    column[s-width="10"] {
        width: calc(10 * 10%);
    }

    *[s-hide] {
        display: none;
    }
    *[s-show] {
        display: flex;
    }

    *[s-stack] {
        flex-direction: column !important;
    }

    /* CUSTOM */
    card img {
        width: 100%;
        height: auto;
    }
}
