/* General */
.container .row:nth-child(n+1) .oe-container {
    background-color: #d4d3d3;
}
.container .row:nth-child(n+2) .oe-container {
    background-color: #e6e6e6;
}

/* TextContent */
p.TextContent-Text {
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 0;   
}
.oe-container .oe-row:first-child .oe-column p.TextContent-Text {
    padding-top: 0;
    margin-bottom: 0;
}

/* YoutubeVideoContent */
iframe.YoutubeVideoFrame {
    border: 0;
    box-shadow: none;
    width: 100%
} 

/* Resource Links */
ul.resource-list {
    list-style-type: decimal;
}
ul.resource-list li {
    width: 100%;
}

/* Syntax Highlighter */
pre.syntax-highlighter {
    width: 100%;
}